@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@300;400&display=swap');

body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Roboto', sans-serif;
}

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

.container h1 {
    margin: 20px 15px 10px 0px;
}

.content {
    background-color: grey;
    width: 97%;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 1%;
    height: 50%;
}

main h1 {
    font-weight: bolder;
    text-align: center;
}

.content h3 {
    font-weight: bolder;
    text-align: center;
}